@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<link href="~/css/site.css" rel="stylesheet" />
<hr /><hr />
<table class="table">
  <thead>
    <tr id="header">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>James</td>
      <td>Matman</td>
      <td>Chief Sandwich Eater</td>
    </tr>
    <tr>
      <td>The</td>
      <td>Tick</td>
      <td>Crimefighter Sorta</td>
    </tr>
  </tbody>
</table>

